
    *{
        margin: 0;
        padding: 0;
    }
    #map{
        width: 100vw;
        height: 94vh;

    }
    h1{
      text-align: center;
      background-color: rgba(17, 226, 226, 0.24);
    }
